<div class="container profileSection">
    <div class="profileSection">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="infoSection">
                    <figure>
                        <img src="./../../../../assets/images/user.png" alt="user" title="user">
                    </figure>
                </div>
                <div class="infoDatas">
                    <h1>Hello,</h1>
                    <h1>My Name Is,</h1>
                    <h1>Priya Anand Hatkar</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 info">
                <h3>Angular Developer</h3>
                <span></span> 
                <h3>Frontend Developer</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center mb-3">
                <app-social-icons></app-social-icons>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3 d-flex justify-content-center">
                <a href="./../../../../assets/images/resume.pdf" class="resInfo" target="_blank" download>Download</a>
            </div>
        </div>
    </div>
</div>
