.portSection{
    background-color: #4f755d;
    .skills{
        color: #fff;
        font-size: 20px;
        text-align: center;
        margin: 20px 0;
        text-shadow: 2px 4px 3px #000;
    }
}