

<app-navbar></app-navbar> 

<div class="portSection">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <app-about-us></app-about-us>
                    <h1 class="skills">SKILL SET</h1>
                <app-info></app-info>
                <h1 class="skills">EDUCATIONAL DETAILS</h1>
                <app-education></app-education>
                <h1 class="skills">WORK EXPERIENCE</h1> 
                <app-data></app-data>
                
            </div>
        </div>
    </div>
</div>
