


<div class="iconSection">
    <div class="brand-icons">
        <a class="social-icon" href="https://linkedin.com/in/priya-hatkar-31ab65299" target="_blank">
                <img src="./../../../../assets/images/linkedin.png" width="40" alt="linkedin" title="linkedin">
        </a>
        <a href="https://www.naukri.com/mnjuser/profile?id=&altresid" target="_blank" class="social-icon">
                <img src="./../../../../assets/images/nokari.jpg" alt="nokari" title="nokari">
        </a>
        <a href="https://in.indeed.com/?from=gnav-homepage" target="_blank" class="social-icon">
            <img src="./../../../../assets/images/indeed.png" alt="indeed" title="indeed">
        </a>
        <a href="https://www.foundit.in/user" target="_blank" class="social-icon">
            <img src="./../../../../assets/images/monster.png" alt="monster" title="monster">
        </a>
        <a href="https://www.timesjobs.com/candidate/myhome.html?from=googleconnectTJ#" target="_blank" class="social-icon">
            <img src="./../../../../assets/images/timesjob.png" alt="timesjob" title="timesjob">
        </a>
    </div>
</div>
